.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(255, 62, 150);
    -fx-background: rgb(151, 255, 255);
}

.button {
    -fx-text-fill: #FFFAFA;
    -fx-background-color: rgb(125, 35, 205);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
    
}

.button:hover {
    -fx-background-color: #3A3A3A;
}

.combo-box-base {
    -fx-text-base-color: #FFFAFA;
    -fx-background-color: rgb(125, 35, 205);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box-base:hover {
    -fx-background-color: rgb(110, 100, 200);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
}
